.certification-container {
    display: flex;
    flex-direction: column;
    margin: 4vh;
    margin-top: 0;

}

.card-certif-img {
    height: 20vh;
    outline: solid white 3px;
    border: solid #272f3b 5px;
    margin-top: 3vh;
    transition: scale 3s;


}

.card-certif-img:hover {
    transform: scale(1.1);
}

.certif-span {
    font-size: 1.7vh;
    text-align: center;
}



@media (max-width: 770px) {
    .card-certif-img {
        width: 80%;
        height: 70%;
    }

    .certification-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .certif-a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4vh;
    }


}