.certif-container {
    display: flex;
    padding-left: 3vw;
    padding-bottom: 3vh;
    margin-top: 3vh;
}

.proyects-container{
    margin: 0;
    padding: 0;
    background-color: #1b1b32;
    width: 100%;
}