.certif-container {
    display: flex;
    padding-left: 3vw;
    padding-bottom: 3vh;
    margin-top: 3vh;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: c;
}



@media (max-width: 770px) {
    .certif-container {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


}