.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.card-image {
    width: 10vw;
    margin-bottom: 3vh;
}

@media (max-width: 725px) {
    .card-image {
        width: 30vw;
        margin-top: 5vh;
    }
}