.mol-game-container {
    display: flex;
    background-color: #272f3b;
    flex-direction: column;
    margin-top: 10vh;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.mol-cards-container {
    display: flex;
    width: 60%;
    justify-content: space-around;

}

.title-mol-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.title-card {
    color: white;
    font-size: 4vh;
    padding: 3vw;
}

.subtitle-card {
    color: white;
    font-size: 2vh;
    margin-bottom: 3vh;

}

.mol-button-container {
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;

}

.mol-button {
    background-color: #00adb5;
    color: white;
    padding: 1vh;
    margin: 4vh;
    width: 12vw;
    height: 6vh;
    user-select: none;
    cursor: pointer;
}

.mol-button:disabled {
    border: solid 2px black;
}

.correct {
    background-color: green;
}

.mol-title,
.mol-subtitle {
    color: white;
    text-align: center;
}

.mol-title {
    margin-bottom: 2vh;
}

.final-card {
    padding: 4vh;
}

.final-card-a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}