.mol-game-container {
    display: flex;
    background-color: #272f3b;
    flex-direction: column;
    margin-top: 10vh;
    align-items: center;
    justify-content: center;
    user-select: none;
    text-align: center;
}

.mol-cards-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;

}

.title-mol-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.title-card {
    color: white;
    font-size: 4vh;
    padding: 3vw;
}

.subtitle-card {
    color: white;
    font-size: 2vh;
    margin-bottom: 3vh;

}

.mol-button-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin: 4vh;

}

.mol-button {
    background-color: #00adb5;
    color: white;
    width: 12vw;
    height: 6vh;
    user-select: none;
    cursor: pointer;
    text-align: center;
}

.mol-button:disabled {
    border: solid 2px black;
}

.correct {
    background-color: green;
}

.mol-title,
.mol-subtitle {
    color: white;
    text-align: center;
}

.mol-title {
    margin-bottom: 2vh;
}

.final-card {
    padding: 4vh;
    font-size: 2.6vh;

}

.final-card-a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.final-card-link {
    margin-top: 4vh;
}

.final-container {
    padding-bottom: 5vh;
    margin-bottom: 5vh;
}



.meli-img {
    width: 60vw;
    border-radius: 15px;
    margin-top: 5vh;
}

@media (max-width: 725px) {
    .mol-button {
        height: max-content;
        width: max-content;
        padding: 5vw;
    }

    .mol-button:disabled {
        height: max-content;
        width: max-content;
        padding: 5vw;
    }
}