.proyects-container {
    display: flex;
    color: white;
    display: flex;
    background-color: white;
    color: white;
    width: 80vw;
    margin-top: 4vh;

}


@media (max-width: 725px) {
    .proyects-container {
        flex-direction: column;
        width: 100vw;

    }
}