.proyect-card-container {
    display: flex;
    flex-direction: column;
    padding: 2vh 1vw;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.proyect-title {
    font-size: 3vh;
    text-align: center;
}


.proyect-img {
    height: 20vh;
    width: 17vw;
    outline: solid white 3px;
    border: solid #272f3b 5px;
    transition: transform .2s;
    margin: 3vh 0;
}

.proyect-img:hover {

    transform: scale(1.1);
}


.proyect-a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    font-size: 2vh;
    font-weight: bold;
}



@media (max-width: 770px) {
    .proyect-img {
        width: 60vw;
        height: 34vh;
    }


    .link-to-git {
        margin-bottom: 3vh;
    }

}

@media (max-width: 426px) {
    .proyect-img {
        width: 85vw;
        height: 70%;
    }


}