.tercer-modulo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 0 4vw;
}

.title,
.tercer-description {
    color: white;
    margin-top: 2vh;

}

.tercer-description {
    margin-bottom: 2vh;
}