.card {
    display: flex;
    background-color: #272f3b;
    color: white;
    text-align: center;
    width: 80vw;
    padding: 4vh 5vw;
    margin-top: 4vh;


}

.text-container {
    margin: 0 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3 {
    margin-bottom: 5vh;
}

.module-2-img {
    height: 25vh;
    width: 20vw;
    outline: solid white 3px;
    border: solid #272f3b 5px;
    transition: transform .2s
}

.module-2-img:hover {

    transform: scale(1.2);
}

@media (max-width: 725px) {
    .card {
        flex-direction: column;
    }

    .module-2-img {
        height: 25vh;
        width: 90%;
        margin-bottom: 4vh;

    }

    .text-container {
        margin-bottom: 4vh;
    }

}