.cuarto-modulo-container {
    background-color: #1b1b32;
    width: 80vw;
    color: #f5f6f7;
    border: solid white 2px;
    border-top: none;
}

.nav-container {
    background-color: #1b1b32;
    color: white;
    display: flex;
    padding: 2vh;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    border: solid white 2px;
    border-bottom: none;
}

.desplegable {
    border: solid white 2px;
    border-left: none;
    border-right: none;
    padding: 1vh;
    font-size: 3vh;

}

@media (max-width: 770px) {
    .cuarto-modulo-container {
        width: 95vw;
    }



    .proyect-card-container {
        margin: 0;
        padding: 0;
        width: 90vw
    }
}